@font-face {
	font-family: 'proxima';
	font-style: normal;
	font-weight: 300;
	src: url('fonts/proximanova-regular-webfont.woff2') format('woff2'), url('fonts/proximanova-regular-webfont.woff') format('woff');
}
@font-face {
	font-family: 'proxima';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/proximanova-semibold-webfont.woff2') format('woff2'), url('fonts/proximanova-semibold-webfont.woff') format('woff');
}