.online-friends 
 .online-friends__label online user
   

.online-friends-list 

    .online-friend-preview
        .online-friend-preview__img
            img(src="https://fakeimg.pl/55x55/")
        .online-friend-preview__content
            .online-friend-preview__name Babariko
            .online-friend-preview__status Online
        

    .online-friend-preview
        .online-friend-preview__img
            img(src="https://fakeimg.pl/55x55/")
        .online-friend-preview__content
            .online-friend-preview__name Lukashenko
            .online-friend-preview__status Offline